# Get your tokens from the drchrono.com website under Account->API

SOCIAL_AUTH_CLIENT_ID=XXXXXXXXXXXXXXX
SOCIAL_AUTH_SECRET=YYYYYYYYYYYYYYYYYYYYY
SECRET_KEY=ZZZZZZZZZZZZZZZZ
WEBHOOK_SECRET_TOKEN=AAAAAAAAAAAAAAAAAAA
ALLOWED_HOSTS=BBBBBBBBBBBB,CCCCCCCCCCCCC
